html {
    box-sizing: border-box; /* prevents padding to add extra heigh or width */
}


body {
    margin: 0; /* 0 for all 4 sides */
    min-height: 100vh; /* viewport heigh */
    background-color: dodgerblue;
}